<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<style>
    .demo-login-container {
        width: 320px;
        margin: 21px auto 0;
    }

    .demo-login-other .el-icon {
        position: relative;
        display: inline-block;
        margin: 0 2px;
        top: 2px;
        font-size: 26px;
    }
</style>

<div id="app" class="demo-login-container">
    <el-form @submit.native.prevent="login" :model="form">
        <el-form-item>
            <el-input v-model="form.username" placeholder="用户名" prefix-icon="el-icon-user" autocomplete="off" required></el-input>
        </el-form-item>
        <el-form-item>
            <el-input type="password" v-model="form.password" placeholder="密码" prefix-icon="el-icon-lock" autocomplete="off" required></el-input>
        </el-form-item>
        <el-form-item>
            <el-checkbox v-model="form.remember">记住密码</el-checkbox>
            <el-link href="#forget" style="float: right; margin-top: 7px;">忘记密码？</el-link>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="login" :loading="loading" style="width: 100%;">登录</el-button>
        </el-form-item>
<!--        <el-form-item class="demo-login-other">-->
<!--            <label>社交账号登录</label>-->
<!--            <span style="padding: 0 21px 0 6px;">-->
<!--                <el-link icon="el-icon-message" :underline="false" style="color: #3492ed;"></el-link>-->
<!--                <el-link icon="el-icon-message" :underline="false" style="color: #4daf29;"></el-link>-->
<!--                <el-link icon="el-icon-message" :underline="false" style="color: #cf1900;"></el-link>-->
<!--            </span>-->
<!--            或 <el-link href="#reg">注册帐号</el-link>-->
<!--        </el-form-item>-->
    </el-form>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {
                    username: '',
                    password: '',
                    remember: false
                },
                loading: false
            }
        },
        methods: {
            login() {
                this.loading = true;
                axios.post('http://localhost:8080/login', {
                    username: this.form.username,
                    password: this.form.password
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        this.loading = false;
                        if (response.data.code === 0) {
                            localStorage.setItem("token", response.data.data);
                            sessionStorage.setItem("token", response.data.data);
                            location.href = "http://localhost:8080/1.html";
                        } else {
                            this.$message({
                                showClose: true,
                                message: '用户名或密码错误',
                                type: 'error'
                            });
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        console.error(error);
                        this.$message({
                            showClose: true,
                            message: '用户名或密码错误',
                            type: 'error'
                        });
                    });
            }
        }
    });
</script>

</body>
</html>
