<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改测站基本信息</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app">
    <el-container>
        <el-header>
            <h2>修改测站基本信息</h2>
        </el-header>
        <el-main>
            <el-form ref="form" :rules="rules1" :model="form" label-width="120px">
                <el-form-item label="测站名称" prop="name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="测站编码">
                    <el-input v-model="form.code" disabled></el-input>
                </el-form-item>
                <el-form-item label="站址" prop="address">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item label="开始时间" prop="startTime">
                    <el-date-picker
                            v-model="form.startTime"
                            align="right"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期"
                            :picker-options="pickerOptions">
                    </el-date-picker>
<!--                    <el-input v-model="form.startTime"></el-input>-->
                </el-form-item>
                <el-form-item label="结束时间" prop="endTime">
                    <el-date-picker
                            v-model="form.endTime"
                            align="right"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期"
                            :picker-options="pickerOptions">
                    </el-date-picker>
<!--                    <el-input v-model="form.endTime"></el-input>-->
                </el-form-item>
                <el-form-item label="河流编码">
                    <el-input v-model="form.waterName" disabled></el-input>
                </el-form-item>
                <el-form-item label="测站类型" prop="type">
                    <el-input v-model="form.type"></el-input>
                </el-form-item>
                <el-form-item label="东经" prop="e">
                    <el-input v-model="form.e"></el-input>
                </el-form-item>
                <el-form-item label="纬度" prop="w">
                    <el-input v-model="form.w"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm1">提交</el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {
                    name: '',
                    code: '',
                    address: '',
                    startTime: '',
                    endTime: '',
                    waterName: '',
                    type: '',
                    e: '',
                    w: ''
                },
                rules1:{
                    name: [
                        { required: true, message: '请输入测站名称', trigger: 'blur' },
                        { max: 30, message: '长度须小于30字符', trigger: 'blur' }
                    ],
                    address: [
                        { max: 50, message: '测站位置最长为50个字符', trigger: 'blur' }
                    ],
                    type: [
                        { min:4, max: 4, message: '测站类型须为4个字符', trigger: 'blur' },
                        { validator: (rule, value, callback) => {
                                if (isNaN(Number(value))) {
                                    callback(new Error('测站类型必须为数字'));
                                }else {
                                    callback()
                                }
                            }, trigger: 'blur' }
                    ],
                    e: [
                        // { type: 'number', message: '东经必须为数字', trigger: 'blur' },
                        { validator: (rule, value, callback) => {
                                if (isNaN(Number(value))) {
                                    callback(new Error('经度必须为数字'));
                                } else if (Number(value) !== '' && (Number(value) < 0 || Number(value) > 180)) {
                                    callback(new Error('东经范围为 0 到 180 之间'))
                                } else {
                                    callback()
                                }
                            }, trigger: 'blur' }
                    ],
                    w: [
                        { validator: (rule, value, callback) => {
                                if (isNaN(Number(value))) {
                                    callback(new Error('维度必须为数字'));
                                } else if (Number(value) !== '' && (Number(value) < -90 || Number(value) > 90)) {
                                    callback(new Error('纬度范围为 -90 到 90 之间'))
                                } else {
                                    callback()
                                }
                            }, trigger: 'blur' }
                    ],
                }
            };
        },
        created() {
            // 获取URL参数的函数
            function getUrlParameter(name) {
                name = name.replace(/[[]/, '\\[').replace(/[\]]/, '\\]');
                const regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                const results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            }

            // 在页面加载时获取传递的数据
            this.form = {
                name: getUrlParameter('name'),
                code: getUrlParameter('code'),
                address: getUrlParameter('address'),
                startTime: getUrlParameter('startTime'),
                endTime: getUrlParameter('endTime'),
                waterName: getUrlParameter('waterName'),
                type: getUrlParameter('type'),
                e: getUrlParameter('e'),
                w: getUrlParameter('w'),
            };
        },
        methods: {
            submitForm1() {
                axios.post('http://localhost:8080/CZ', this.form, {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response => {
                        if (response.status === 200) {
                            window.location.href = '1.html';
                        } else {
                            this.$message.error('提交失败');
                        }
                    })
                    .catch(error => {
                        console.error('Error submitting form:', error);
                        this.$message.error('提交失败');
                    });
            }
        }
    });
</script>

</body>
</html>